<div class="pages">
  <!-- table section -->
  <div class="container-fluid bg-white tableList">
    <div class="container">
      <div class="row text-center mt-4">
        <div class="col">
          <div class="counter">
            <span class="count">{{ PresentDayCount }}</span>
            <p class="count-text">Present Days</p>
          </div>
        </div>
        <div class="col">
          <div class="counter">
            <span class="count">{{ leavesCount }}</span>
            <p class="count-text">Total Leaves</p>
          </div>
        </div>
        <div class="col">
          <div class="counter">
            <span class="count">{{ weeksOffCount }}</span>
            <p class="count-text">Total Days of Weekly off</p>
          </div>
        </div>
      </div>
    </div>
    <form #searchForm="ngForm" (ngSubmit)="searchData(searchForm.value.date)">
      <div class="d-flex justify-content-end mt-4">
        <input
          class="form-control datePicker"
          type="month"
          name="date"
          ngModel
        />
        <button type="submit" class="btn btn-primary searchButton">
          Search
        </button>
        <button type="reset" (click)="reload()" class="btn btn-primary">
          Clear Search
        </button>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12 mb-4 mt-4">
        <div class="table-responsive">
          <table id="example" class="" style="width: 100%">
            <thead>
              <tr>
                <th>No.</th>

                <th class="text-center">Date</th>
                <th class="text-center">Day</th>
                <th class="text-center">Attendance status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filterAttendenceList; let i = index">
                <td>{{ i + 1 }}</td>

                <td class="text-center">
                  {{ item.date | date: "dd-MM-yyyy" }}
                </td>

                <td class="text-center">{{ item.day }}</td>
                <td class="text-center">
                  <span
                    class="badge badge-pill"
                    [ngClass]="
                      item.attendance_status == 'present'
                        ? 'badge-success'
                        : item.attendance_status == 'leave'
                        ? 'badge-danger'
                        : 'badge-warning'
                    "
                    >{{ item.attendance_status }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
