.pages {
  margin-left: 16rem;
}

.table-responsive {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}
.btn-group {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}
.addUser {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}
.icon {
  margin: 10px;
  display: inline-block;
  color: black;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 30px;
}

.icon {
  background-color: #fff;
}
.tableList {
  border-radius: 1rem;
}
.editIcon {
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
.hoverName:hover {
  background-color: #eff0f2;
  border-radius: 0.25rem;
}
.tableList {
  border-radius: 1rem;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-radius: 1rem;
}
button {
  border-radius: 1rem !important;
}
.datePicker {
  width: 20%;
  margin-right: 1rem;
}
.searchButton {
  margin-right: 1rem;
}

//
.counter {
  background-color: white;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}
.count {
  color: #621961;
  font-weight: 700;
}
